ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:white;
  }
  

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: grey;
}
.main-page{
    overflow: auto;
  margin: auto;
  width: 60%;
  height: 100%;
  margin-top: 5%;
  padding: 10px;
  background-color: white;
  border-color: grey;
  border-radius: 10px;
 
}
html{
    height:100%;
}
body{
    background-color: lightblue;
    height: 100%;
}
.main-page p{
    font-size: large;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
.sticky + .content {
    padding-top: 60px;
  }
